body {
    background-color: #fdf6e3;
    margin: 0%;
}

h1 {
    color: #002b36;
    text-align: center;
}

footer {
    text-align: right;
    color: #002b36;
}

.main {
    margin: auto;
    text-align: center;
    width: 13.5cm;
}

p {
    color: #002b36;
    text-align: justify;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #002b36;
    width: 100%;
}
.navbar a {
    color: #93a1a1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #586e75;
}
.navbar a.active {
    background-color: #fdf6e3;
    color: #586e75;
}

@media (max-width: 15cm) {
    .main {
        width: 90%;
    }
}

@media (orientation: portrait) {
    .main {
        width: 90%;
    }
}

